.inpttxt{
    margin: 0.2em;
   #txtinp{
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
    margin-left: 0.2em;
    width: 20em;
    height: 2em;
    border: 0.2em solid black;
    box-shadow: 0.1em 0.2em magenta;
    border-radius: 0.5em;              
   }
}