<div class="inprange">
  <div id="inprangelabel">
    <span> Number of characters</span>
  </div>

  <div id="inprangeinp">
    <input
      type="range"
      name="rangeinpt"
      value="0"
      id="rnginp"
      min="2"
      max="20"
      onclick="getValue()"
    />
    <p id="txt">x</p>
  </div>
</div>
<div class="settings">
  <p>Settings</p>
  <ul>
    <li>
      <input type="checkbox"  name="upperinp" id="uprinp" (change)="checkCheckBoxvaluelower($event)" />
      <label for="upperinp">Upper Cases</label>
    </li>
    <li>
      <input type="checkbox"  name="lowerinp" id="lwrinp" checked (change)="checkCheckBoxvaluelower($event)" />
      <label for="lowerinp">Lower Cases</label>
    </li>
    <li>
      <input type="checkbox" name="numberinp" id="nbrinp" (change)="checkCheckBoxvaluenbr($event)" />
      <label for="numberinp">Use Numbers</label>
    </li>
    <li>
      <input type="checkbox" name="symbolinp" id="sblinp" (change)="checkCheckBoxvaluesbl($event)" />
      <label for="syminp">Use Symbols</label>
    </li>
  </ul>
</div>
<div class="btndiv">
  <button id="btngen" (click)="generateBtn()">Generate</button>
  <button id="btncopy">Copy</button>
</div>
